main = "src/index.ts"
name = "jagtag"
workers_dev = true

[vars]
DISCORD_NACL_PUBLIC_KEY = "CHANGEME"
SENTRY_DSN = "CHANGEME"

[[kv_namespaces]]
  binding = "STORAGE"
  id = "CHANGEME"
  preview_id = "CHANGEME"

[[rules]]
type = "ESModule"
globs = [ "**/*.ts" ]